<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingjin.oss.core.authmgr.dao.ServiceAuthMapper">
    <resultMap id="serviceAuthResultMap" type="com.pingjin.oss.core.authmgr.model.ServiceAuth">
        <result column="bucket_name" property="bucketName"/>
        <result column="target_token" property="targetToken"/>
        <result column="auth_time" property="authTime"/>
    </resultMap>
    <insert id="addAuth">
        insert into service_auth
        (bucket_name,target_token,auth_time)
        values
        (#{auth.bucketName},#{auth.targetToken},#{auth.authTime})
    </insert>

    <delete id="deleteAuth">
        delete from service_auth
        where bucket_name=#{bucket} AND target_token=#{token}
    </delete>

    <delete id="deleteAuthByToken">
        delete from service_auth where target_token=#{token}
    </delete>

    <delete id="deleteAuthByBucket">
        delete from service_auth  where bucket_name=#{bucket}
    </delete>

    <select id="getAuth" resultMap="serviceAuthResultMap">
        select * from service_auth where target_token=#{token} AND bucket_name=#{bucket}
    </select>
</mapper>